<template>
  <f7-page name="stepper">
    <Stepper :steps="steps" final-step-link="/result" />
  </f7-page>
</template>

<script>
import { markRaw } from "vue";

import Stepper from '../components/Stepper.vue';
import Step1 from '../components/Step1.vue';
import Step2 from '../components/Step2.vue';

import step1Icon from '../assets/stepper/gender-icon.png';
import step2Icon from '../assets/stepper/scale-icon.png';
export default {
  name: 'DrinkWaterStepper',
  components: {
    Stepper
  },
  data() {
    return {
      steps: [
        {
          title: this.$get('stepper/personsGender'),
          icon: step1Icon,
          component: markRaw(Step1)
        },
        {
          title: this.$get('stepper/personsWeight'),
          icon: step2Icon,
          component: markRaw(Step2)
        },
      ],
    };
  },
  computed: {
    personsGender: {
      get: function () {
        return this.$get('stepper/personsGender');
      }
    },
    personsWeight: {
      get: function () {
        return this.$get('stepper/personsWeight');
      }
    },
  },
  watch: {
    personsGender: function (value) {
      this.steps[0].title = value;
    },
    personsWeight: function (value) {
      this.steps[1].title = value;
    }
  },
  created() {
    this.$dispatch('stepper/drinkWaterData', { weight: { value: 0, unit: "Kg" } });
    this.$dispatch('stepper/drinkWaterData', { gender: "Мужской" });
  }
};
</script>
