<template>
  <f7-page name="DrinkWaterResult">
    <f7-block>
      <f7-row>
        <f7-col>
          <p>Ваш пол: {{ personsGender }}</p>
        </f7-col>
        <f7-col>
          <p>Ваш вес: {{ personsWeight }}</p>
        </f7-col>
      </f7-row>
    </f7-block>
    <f7-link href="/">Назад</f7-link>
  </f7-page>
</template>
<script>
export default {
  name: 'DrinkWaterResult',
  computed: {
    personsGender() {
      return this.$get('stepper/personsGender');
    },
    personsWeight() {
      return this.$get('stepper/personsWeight');
    }
  }
}
</script>
