<template>
  <f7-page name="home">
    <!-- <f7-navbar>
      <f7-nav-title>Template app</f7-nav-title>
    </f7-navbar>
   
    <f7-toolbar bottom>
      <f7-link>Left Link</f7-link>
      <f7-link>Right Link</f7-link>
    </f7-toolbar>
    
    <f7-block strong>

      Current user is: {{ $get('auth/currentUser') }}

      <p>Some text</p>
    </f7-block> -->
  </f7-page>
</template>

<script>

</script>
