<template>
  <h3 class="title">Ваш вес</h3>
  <f7-block class="step-block">
    <f7-row>
      <f7-col>
        <img class="gender-icon" :src="$get('stepper/personsGender') ==='Мужской' ? maleIcon : femaleIcon"
          alt="genderIcon" />
      </f7-col>
      <f7-col>
        <f7-row>
          <f7-col>
            <f7-swiper :speed="100" class="swiper1" :centeredSlides="true" :height="166" :slidesPerView="3"
              direction="vertical" @activeIndexChange="weightValueChanged">
              <f7-swiper-slide v-for="value of weightArray" :key="value">{{value}}</f7-swiper-slide>
            </f7-swiper>
          </f7-col>
          <f7-col>
            <f7-swiper :speed="100" class="swiper2" :slidesPerView="1" :spaceBetween="0" direction="vertical"
              :height="55" @activeIndexChange="weightUnitChanged">
              <f7-swiper-slide v-for="value of unitArray" :key="value">{{value}}</f7-swiper-slide>
            </f7-swiper>
          </f7-col>
        </f7-row>
      </f7-col>
    </f7-row>
  </f7-block>
</template>

<script>
import maleIcon from '../assets/stepper/male.png';
import femaleIcon from '../assets/stepper/female.png';

export default {
  name: 'Step2',
  data() {
    return {
      maleIcon,
      femaleIcon,
      weightArray: Array(181).fill().map((v, i) => i + 20),
      unitArray: ['Kg', 'lbs'],
      activeIndex: 0,
      acriveUnit: 'Kg'
    };
  },
  methods: {
    weightValueChanged(swiper) {
      this.activeIndex = this.weightArray[swiper.activeIndex];
      this.updateDrinkWaterData();
    },
    weightUnitChanged(swiper) {
      this.acriveUnit = this.unitArray[swiper.activeIndex];
      this.updateDrinkWaterData();
    },
    updateDrinkWaterData() {
      this.$dispatch('stepper/drinkWaterData', { weight: { value: this.activeIndex, unit: this.acriveUnit } });
    }
  },
}
</script>
 
<style scoped>
.swiper1 {
  height: 166px;
}

.swiper2 {
  height: 55px;
  margin-top: 55px;
  overflow: visible;
}


.gender-icon {
  width: 100%;
}

.title {
  text-align: center;
  color: #2C91DB;
  margin-top: 20x;
}

.step-block {
  margin: auto;
}

.swiper-slide {
  height: 20px;
  color: #2C91DB;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.swiper-slide-active {

  border-top: 1px solid #2C91DB;
  border-bottom: 1px solid #2C91DB;
  box-sizing: border-box;
  opacity: 1;
}

.swiper1 .swiper-slide-active {

  font-size: 40px;
}
</style>
