<template>
  <h3 class="title">Ваш пол</h3>
  <f7-block class="step-block">
    <f7-row>
      <f7-col>
        <img class="gender-icon" :class="{active: personsGender === 'Мужской' }" :src="maleIcon" alt="genderIcon"
          @click="selectGender('Мужской')" />
      </f7-col>
      <f7-col>
        <img class="gender-icon" :class="{active: personsGender === 'Женский' }" :src="femaleIcon" alt="genderIcon"
          @click="selectGender('Женский')" />
      </f7-col>
    </f7-row>
  </f7-block>
</template>

<script>

import maleIcon from '../assets/stepper/male-icon.png';
import femaleIcon from '../assets/stepper/female-icon.png';
export default {
  name: 'Step1',
  data() {
    return {
      maleIcon,
      femaleIcon,
      currentGender: 0,
    };
  },
  computed: {
    personsGender() {
      return this.$get('stepper/personsGender');
    }
  },
  methods: {
    selectGender(gender) {
      this.$dispatch('stepper/drinkWaterData', { gender: gender });
    }
  },
}
</script>
<style scoped>
.gender-icon {
  width: 100%;
  box-sizing: border-box;
}

.gender-icon.active {
  border-radius: 50%;
  border: 1px solid #2C91DB;
}

.title {
  text-align: center;
  color: #2C91DB;
  margin-top: 20x;
}

.step-block {
  margin: auto;
}
</style>
