<template>
  <div class="stepper">
    <div class="top">
      <img v-if="headerBg" class="header-bg" :src="headerBg" alt="background" />
      <div class="step-wrapper">
        <template v-for="(step, index) in steps" :key="index">
          <div :class="['step', isStepActive(index, step)]">
            <div class="circle">
              <img v-if="step.icon" :src="step.icon" alt="icon" />
            </div>
            <div class="step-title">
              <p>{{step.title}}</p>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="content">
      <keep-alive>
        <component :is="steps[currentStep].component"></component>
      </keep-alive>
    </div>
    <div :class="['bottom', (currentStep > 0) ? '' : 'only-next']">
      <f7-block>
        <f7-row>
          <f7-col v-if="currentStep > 0">
            <f7-button outline class="step-button previous" @click="backStep()">
              Назад
            </f7-button>
          </f7-col>
          <f7-col v-if="currentStep !== this.steps.length - 1">
            <f7-button fill :class="['step-button next', !canContinue ? 'deactivated' : '']" @click="nextStep()">
              Далее
            </f7-button>
          </f7-col>
          <f7-col v-else>
            <f7-button fill>
              <f7-link class="res-link" :href="finalStepLink"> Результат </f7-link>
            </f7-button>
          </f7-col>
        </f7-row>
      </f7-block>
    </div>
  </div>
</template>

<script>
import headerImg from '../assets/stepper/top-bg.png';

export default {
  name: 'Stepper',
  props: {
    headerBg: {
      type: String,
      default: headerImg,
    },
    steps: {
      type: Array,
      default: () => [
        {
          title: 'Step 1',
          icon: ''
        },
        {
          title: 'Step 2',
          icon: ''
        },
        {
          title: 'Step 3',
          icon: ''
        }
      ]
    },
    finalStepLink: {
      type: String,
      default: "/result"
    }
  },
  data() {
    return {
      currentStep: 0,
      canContinue: false,
    };
  },
  methods: {
    isStepActive(index) {
      if (this.currentStep <= index - 1) {
        return "activated";
      } else {
        return "completed";
      }
    },

    init() {
      this.activateStep(0);
    },

    nextStep() {
      this.activateStep(this.currentStep + 1);
    },
    backStep() {
      let currentIndex = this.currentStep - 1;
      if (currentIndex >= 0) {
        this.activateStep(currentIndex, true);
      }
    },

    activateStep(index) {
      if (this.steps[index]) {
        this.currentStep = index;
      }
    },
  },
  created() {
    this.init();
  }
}
</script>
<style scoped>
.stepper {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: center;
  position: relative;
  height: 205px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.step-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 40px;
  margin-top: 25px;
  position: relative;
}

.step-wrapper::before {
  content: "";
  position: absolute;
  border-top: 2px dashed #2C91DB;
  width: 100%;
  height: 1px;
  top: 50%;
  z-index: -1;
}

.header-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.step {
  height: 39px;
  width: 63px;
  background: #2C91DB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  border: 1px solid #2C91DB;
}

.circle {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step.completed {
  background-color: #fff;
}

.circle img {
  height: 25px;
  filter: brightness(0) invert(1);
}

.step.completed .circle img {
  filter: none;
}

.step-title {
  text-align: center;
  color: #fff
}

.res-link {
  color: #fff
}

.bottom {
  margin-top: auto;
}
</style>
